<h1>About Ostentatious Auction</h1>
<hr>

<p>This is an ember app built by Jay Sivakumaran and Alex Kaufman.  It is
modeled after Sotheby's website and was built on 3/4/2015 at Epicodus in
downtown Portland.</p>
